.landing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}
.landing h1{
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.landing button {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.landing button:hover {
	background-color:#5cbf2a;
}
.landing button:active {
	position:relative;
	top:1px;
}
